{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-38H0TJ6VTF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-38H0TJ6VTF');
  </script>
  {% progressive_web_app_meta %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <title> Server Error | {{ site_details.title }}</title>
  <meta content="Making a difference and imparting the world with my technical writing. | {{ site_details.description }}" name="descriptison">
  <meta content="{{ site_details.keywords }}" name="keywords">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'project/img/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'project/img/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'project/img/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'project/img/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'project/img/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'project/img/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'project/img/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'project/img/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'project/img/apple-icon-180x180.png' %}">
  <link rel="apple-touch-icon" sizes="512x512" href="{% static 'project/img/apple-icon-512x512.png' %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'project/img/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="512x512"  href="{% static 'project/img/android-icon-512x512.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'project/img/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'project/img/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'project/img/favicon-16x16.png' %}">
<!--   <link rel="manifest" href="{% static 'project/manifest.json' %}"> -->
  <meta name="msapplication-TileColor" content="#18d26e">
  <meta name="msapplication-TileImage" content="{% static 'project/img/ms-icon-144x144.png' %}">
  <meta name="apple-mobile-web-app-status-bar" content="#18d26e" />
  <meta name="theme-color" content="#18d26e" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'project/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'project/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'project/vendor/animate/animate.css' %}" rel="stylesheet">
  <link href="{% static 'project/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'project/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'project/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'project/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'project/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'project/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Personal - v2.3.0
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <div id="preloader"></div>
  <!-- ======= Header ======= -->
  <header id="header" class="header-tops header-top">
    <div class="container">

      <h1><a href="/">{{ site_details.name }}</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->

      <h2>I'm <span>{{ site_details.title }}</span></h2>

      <p class="intro-subtitle"><span class="text-slider-items">{{ site_details.site_slider }}</span><strong class="text-slider"></strong></p>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#resume">Resume</a></li>
          <li><a href="/#services">Services</a></li>
          <li><a href="/#portfolio">Portfolio</a></li>
          <li><a href="{% url 'blog:blog_index' %}">Blog</a></li>
          <li><a href="/#contact">Contact</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <div class="social-links">
        {% if site_details.sitesocial_set.all %}
        {% for social in site_details.sitesocial_set.all %}
        <a href="{{ social.link }}" class="{{ social.social_media }}" target="_blank"><i class="icofont-{{ social.social_media }}"></i></a>
        {% endfor %}
        {% with site_details.sitesocial_set.all|first as link %}
        <a href="{{ link.github }}" class="github" target="_blank"><i class="fab fa-github"></i></a>
        {% endwith %} 
        {% endif %}
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-show">
    <div class="container">

      <div class="section-title">
        <h2>Server Error</h2>
      </div>

      <div class="row">
        <div class="not-found">
          <div class="not-found-head">
          <h2>Server Down</h2>
          <p>I am working on it. Please, check back later.</p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->

  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
    <p class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script> <strong> <a href="#header">{{ site_details.title }}</a></strong>. All Rights Reserved</p>
    Made with <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a> by {{ site_details.name }}
    <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
  </div>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  

  <!-- Vendor JS Files -->
  <script src="{% static 'project/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'project/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'project/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'project/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'project/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'project/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'project/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'project/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'project/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'project/js/typed.min.js' %}"></script>
  <script src="{% static 'project/vendor/sweetalert/sweetalert.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'project/js/main.js' %}"></script>
  <script type="text/javascript">
  {% if form_status == 'success' %}
  setTimeout(swal('Success Message', "Thank you for contacting me, I'll get back to you shortly.", "success"), 500)
  {% endif %}
  {% if form_status == 'fail' %}
  setTimeout(swal('Error Message', "An error occured while trying to send your message.\nPlease try again.\nI dearly apologize for the incovenience.", "error"), 500)
  {% endif %}
</script>
</body>

</html>