{% load pwa %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-38H0TJ6VTF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-38H0TJ6VTF');
  </script>
  {% progressive_web_app_meta %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <title> Blog - Search | {{ site_details.title }}</title>
  <meta content="Making a difference and imparting the world with my technical writing. | {{ site_details.description }}" name="descriptison">
  <meta content="{{ site_details.keywords }}" name="keywords">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'blog/img/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'blog/img/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'blog/img/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'blog/img/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'blog/img/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'blog/img/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'blog/img/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'blog/img/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'blog/img/apple-icon-180x180.png' %}">
  <link rel="apple-touch-icon" sizes="512x512" href="{% static 'blog/img/apple-icon-512x512.png' %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'blog/img/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="512x512"  href="{% static 'blog/img/android-icon-512x512.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'blog/img/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'blog/img/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'blog/img/favicon-16x16.png' %}">
  <!-- <link rel="manifest" href="{% static 'blog/manifest.json' %}"> -->
  <meta name="msapplication-TileColor" content="#18d26e">
  <meta name="msapplication-TileImage" content="{% static 'blog/img/ms-icon-144x144.png' %}">
  <meta name="apple-mobile-web-app-status-bar" content="#18d26e" />
  <meta name="theme-color" content="#18d26e" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'blog/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/vendor/animate/animate.css' %}" rel="stylesheet">
  <link href="{% static 'blog/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'blog/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'blog/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'blog/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Personal - v2.3.0
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <div id="preloader"></div>
  <!-- ======= Header ======= -->
  <header id="header" class="header-tops header-top">
    <div class="container">

      <h1><a href="/">{{ site_details.name }}</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->

      <h2>I'm <span>{{ site_details.title }}</span></h2>

      <p class="intro-subtitle"><span class="text-slider-items">{{ site_details.site_slider }}</span><strong class="text-slider"></strong></p>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#resume">Resume</a></li>
          <li><a href="/#services">Services</a></li>
          <li><a href="/#portfolio">Portfolio</a></li>
          <li class="active"><a href="{% url 'blog:blog_index' %}">Blog</a></li>
          <li><a href="/#contact">Contact</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <div class="social-links">
        {% if site_details.sitesocial_set.all %}
        {% for social in site_details.sitesocial_set.all %}
        <a href="{{ social.link }}" class="{{ social.social_media }}" target="_blank"><i class="icofont-{{ social.social_media }}"></i></a>
        {% endfor %}
        {% with site_details.sitesocial_set.all|first as link %}
        <a href="{{ link.github }}" class="github" target="_blank"><i class="fab fa-github"></i></a>
        {% endwith %} 
        {% endif %}
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-show">
    <div class="container">

      <div class="section-title">
        <h2>Blog - Search</h2>
        <div class="row">
          <form  class="col-md-6" action='/blog/search/'>
              <h4>
                Search
              </h4>
              <input class="search-input" type="text" name='q' placeholder="Search...">

              <button class="search-btn">
                <i class="fa fa-search"></i>
              </button>
          </form>
          <div class="col-md-6">
            <div class="category">
              <h4>
                Categories
              </h4>

              <ul>
                {% for category in blog_categories %}
                <li>
                  <a href="{% url 'blog:blog_category' category=category.article_category %}" >
                    {{ category.article_category }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        {% if blog_list %}
        {% for article in blog_list %}
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><a href="{% url 'blog:blog_article' slug=article.slug %}"><img class="img-fluid" src="{{ article.articleimage_set.all.0.image_file.url }}" alt="{{ article.slug }}"></a>
            </div>
            <h4><a href="{% url 'blog:blog_article' slug=article.slug %}">{{ article.title }}</a></h4>
            <div>
            {% autoescape off %}
            {{ article.articletext_set.all.0.text|truncatechars:350 }}
            {% endautoescape %}
            </div>
            <div>
            <a href="{% url 'blog:blog_article' slug=article.slug %}">
            Continue Reading
            </a>
            </div>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <div class="flex-w flex-sb-m p-t-18">
              <span class="flex-w flex-m stext-111 cl2 p-r-30 m-tb-10">
                <span>
                  <span class="cl4">By</span> {{ article.author.name }}  
                  <span class="cl12 m-l-4 m-r-6">|</span>
                </span>

                <span>
                  {% for category in article.categories.all %}{{ category.article_category }}, {% endfor %}
                  <span class="cl12 m-l-4 m-r-6">|</span>
                </span>
                <div>
                  <span>
                    {{ article.upload_date | date:'d'}}
                  </span>

                  <span>
                    {{ article.upload_date | date:'M Y'}}
                    <span class="cl12 m-l-4 m-r-6">|</span>
                  </span>
                </div>
                <span>
                  {{ article.comment_set.all.count }} Comment{{ article.comment_set.all.count | pluralize}}
                </span>
              </span>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <h4> NOT FOUND</h4>
            {% if query %}
            <div>
            {{ query }} is not in any post.
            </div>
            {% else %}
            <div>
            Enter a word in the search form.
            </div>
            {% endif %}
          </div>
        </div>
        {% endif %}
      </div>
      <!-- Pagination -->
      <div class="pages">
        {% if blog_list.has_previous %}
          <a href="?q={{ query }}&&page={{blog_list.previous_page_number}}" class="extra-button page-left">
            Previous
          </a>
          {% endif %}
        {% if blog_list.has_next %}
        <a class="extra-button page-right" href="?q={{ query }}&&page={{ blog_list.next_page_number }}">Next</a>
        {% endif %}
      </div>
    </div>
  </section><!-- End Services Section -->

  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
    <p class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script> <strong> <a href="#header">{{ site_details.title }}</a></strong>. All Rights Reserved</p>
    Made with <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a> by {{ site_details.name }}
    <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
  </div>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  

  <!-- Vendor JS Files -->
  <script src="{% static 'blog/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'blog/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'blog/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'blog/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'blog/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'blog/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'blog/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'blog/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'blog/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'blog/js/typed.min.js' %}"></script>
  <script src="{% static 'blog/vendor/sweetalert/sweetalert.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'blog/js/main.js' %}"></script>
  <script type="text/javascript">
  {% if form_status == 'success' %}
  setTimeout(swal('Success Message', "Thank you for contacting me, I'll get back to you shortly.", "success"), 500)
  {% endif %}
  {% if form_status == 'fail' %}
  setTimeout(swal('Error Message', "An error occured while trying to send your message.\nPlease try again.\nI dearly apologize for the incovenience.", "error"), 500)
  {% endif %}
</script>
</body>

</html>